:root {
    --color-background: var(--color-gray);
    --color-text: var(--color-black);
    --color-primary: var(--color-dark-gray);


/* Colors */
--color-gray:rgb(217, 212, 211);
--color-dark-gray: rgb(53, 53, 56);
--color-black: rgb(0,0,0);
--color-white: rgb(256, 256, 256);
}

.header {
    position: relative;
    top: 70px;
    display: flex;
    justify-content: center;
}

.search {
    position: relative;
    top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.search-box {
    position: relative;
    height: 40px;
    width: 460px;
    background-color: var(--color-background);
    border-radius: 40px;
    padding: 10px;
    box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
    /* border: 1px solid rgb(72, 71, 71); */
    /* margin-bottom: 1rem; */
}

.search-text {
    margin-left: .5rem;
    left: 7px;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    color: var(--color-text);
    font-size: 18px;
    line-height: 40px;
    width: 370px;
}

.search-btn {
    color: var(--color-text);
    float: left;
    width: 40px;
    height: 100%;
    border-radius: 50%;
    background: var(--color-white);
    border: none;
    font-size: 16px;
    margin: 0px;
}

.reset-btn {
    color: var(--color-primary);
    float: left;
    width: 40px;
    height: 100%;
    border-radius: 50%;
    background: var(--color-white);
    border: none;
    font-size: 20px;
}

.autocomplete > div {
    margin-left: .5rem;
    background: var(--color-background);
    padding: .2rem, .6rem;
    font-size: 1.2rem;
    padding: 7px;
    box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
}

.autocomplete > div.active {
    margin-left: .5rem;
    width: 370px;
    background-color: var(--color-background);
    color: var(--color-text);
    border: .5px dotted var(--color-primary);
    box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
}
